@model TSolution_Bordfodbold.Entities.Spiller

@{
    Layout = null;
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<div align="center">
    <div>
        <h3> Log ind</h3>
    </div>
    <div style="padding-top:20px">
        <table>
            @using (Html.BeginForm())
            {
                <tr>
                    <td><label>Brugernavn:</label></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.Brugernavn, new
                        {
                            @class = "formcontrol"
                        })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:5px"><label>Kodeord:</label></td>
                </tr>
                <tr>
                    <td>
                        @Html.PasswordFor(m => m.Kodeord, new
                        {
                            @class = "formcontrol"
                        })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:10px">
                        <input type="submit" value="Log ind" class="btn btn-info" />
                        <a href="/Home/Index" class="btn btn-default">
                            <strong class="glyphicon glyphicon-home">
                                <strong class="glyphicon glyphicon-hand-left"></strong>
                            </strong>
                        </a>
                    </td>
                </tr>
            }
        </table>
        @Html.ValidationSummary()
    </div>
</div>