@model IEnumerable<TSolution_Bordfodbold.Entities.Spiller>
@using TSolution_Bordfodbold.Entities

@{
    Layout = null;
}

<html>
<body>
    <table>
        <tr>
            <th>Navn</th>
            <th>Uafgjorte</th>
        </tr>
        @foreach(Spiller spiller in Model)
        {
            <tr>
                <td>@Html.ActionLink(spiller.Navn, "Rediger", new { spiller.Spiller_ID })</td>
                <td>@spiller.Uafgjorte</td>
                <td>
                    @using(Html.BeginForm("Slet", "Spiller"))
                    {
                        @Html.Hidden("spiller_ID", spiller.Spiller_ID)
                        <input type="submit" value="Slet"/>
                    }
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Opret spiller", "Opret", "Spiller", new { @class = "btn btn-default" })
</body>
</html>
